{% extends 'base.html.twig' %}

{% block title %}Nice Hotels{% endblock %}

{% block body %}
<div class="hotel-list-container">
    <div id="hotel-list" class="col-md-7 col-xs-12">
        <ul class="list list-group">
            {% for hotel in hotels %}
            <li class="list-group-item"
                data-id="{{ hotel.id }}"
                data-latitude="{{ hotel.latitude }}"
                data-longitude="{{ hotel.longitude }}">
                <h4 class="name list-group-item-heading">
                    {{ hotel.name|default("Hotel #{hotel.id}") }}
                </h4>
                <span class="address">
                    {{ hotel.address|default('Somewhere...') }}
                </span>
                {% if hotel.price != 0 %}
                <span class="badge">${{ hotel.price|number_format }} per night</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <a href="{{ path('add-hotel') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Add hotel
        </a>
    </div>
    <div id="map" class="col-md-5 xs-hidden"></div>
</div>

<div id="booking-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      {{ form_start(form) }}
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% form_theme form 'form/fields.html.twig' %}
            {{ form_row(form.dateIn, {"label": "When do you arrive?"}) }}
            {{ form_row(form.dateOut, {"label": "When do you depart?"}) }}
            {{ form_row(form.people, {"label": "Number of people" }) }}
            {{ form_row(form.hotelId) }}
      </div>
      <div class="modal-footer">
          <a id="hotel-edit" type="submit" value="edit"
            class="btn btn-lg btn-default"
            data-path="{{ path('edit-hotel', {id: '_'}) }}">
              Edit
          </a>
          <button type="submit" id="booking-submit"
            class="btn btn-lg btn-primary">
              <span class="glyphicon glyphicon-ok"></span> Book
          </button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/hotels_list.js') }}"></script>

    {{ parent() }}
{% endblock %}
